@import "./color";
@import "./layout";
@import "./about";
@import "./features";
@import "./footer";
@import "./header";
@import "./pricing";
@import "./social";
@import "./testimonial";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $default-text-color;
  line-height: 26px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h4 {
  font-size: 24px;
  color: $title-color;
  font-weight: 600;
}

h3 {
  font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 18px;
  color: $title-color;
  font-weight: 600;
}
